.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-image {
    height: 48px;
    margin-right: 10px;
}

.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #2F2FA2;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 5rem;
    margin-left: 6rem;
}

.nav a {
    text-decoration: none;
    font-weight: 500;
    color: #2F2FA2;
}
.nav a:hover {
    text-decoration: underline;
}

.profile-icon img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid #2F2FA2;
    padding: 4px;
}

.login-link {
    color: #2F2FA2;
    text-decoration: none;
    font-weight: 500;
}