.form-group { display: flex; flex-direction: column; gap: 0.5rem; }
.form-label {
    font-size: 0.875rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: #333;
}
.form-input {
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: #555;
}
.form-textarea {
    border-radius: 0.75rem;
    border: 1px solid #ccc;
    padding: 1rem;
    resize: vertical;
    font-family: var(--font-main);
    font-size: 1rem;
    color: #333;
}
.form-textarea.large {
    width: 100%;
    min-height: 120px;
    max-height: 200px;
    box-sizing: border-box;
}
.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}
.form-box {
    background: #ebebeb;
    border: 1px solid #cfd1e0;
    border-radius: 10px;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}
.specialist-form-wrapper {
    background: #f3f3f3;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 600px;
    margin: 0 auto;
}
.specialist-form-wrapper h3{
    text-align: center;
}

.request-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
}
.align-right { margin-left: auto;}
.align-center {
    text-align: center;
}
